.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
  overflow: hidden;
}

.fullscreenIframe {
  width: 100%;
  height: 100%;
  border: none;
  object-fit: contain;
}

.portrait {
  transform: rotate(90deg);
  transform-origin: bottom left;
  width: 100vh;
  height: 100vw;
  position: absolute;
  top: -100vw;
  left: 0;
}

@media screen and (orientation: landscape) {
  .fullscreenIframe {
    width: 100vw;
    height: 100vh;
  }
}